@import './__base.scss';
@import './__variables.scss';


@font-face {
    font-family: "Inter", sans-serif ; 
    src: url(../fonts/Inter/Inter-VariableFont_slnt\,wght.ttf);
}

.container{
    // max-width:1480px;
    // margin: 0 auto;
    width: 100%;

    display: grid;
    grid-template-columns: minmax(14rem, 20%) 1fr;
}
.container-form{
    max-width:1480px;
    margin: 0 auto;
    width: 100%;
}

body{
    background-color: $background-color;
}

h1, h2, h3, h4, h5, h6, span{
    color: #ffff;
}